.boy {
    padding: 0 1em 0 1em;
    height: 60vh;
    margin-bottom: 20px;

}

.mid > h3 {
  padding-right: 10px;
}

.type-btns {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.type-btns > button {
    color: white;
    font-size: 1em;
    margin: 1em 0;
    padding: .7em 4em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;

    &:hover {
        transition: all .3s ease;
        background-color: black
    }

    &:focus {
        background-color: black
    }
}

.top > h2 {
    margin-bottom: 30px;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    padding: 20px 0;
}

.mid > p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    color: black
    ;
}

.mid > a {
    text-decoration: none;
    color: #1976d2;
}

.editTraining {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 7%;
}


.editTraining > button {
    color: #3478b2;
    background-color: white;
    border: 1px solid #3478b2;
    border-radius: 20%;
    align-self: center;
    font-size: 30px;
    transition: all .1;
    
    &:hover {
        border: 2px solid rgba(25, 118, 210);
    }
}

.editTraining > button > p {
    font-size: 20px;
}

.editTraining > button > img {
    width: 30px;
    height: auto;
}

.course-analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;

}

.black {
    margin-top: 30px;
    color: #fff;
    background-color: black;
}

.blacky {
    color: black;
}

.personnel-overdue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;

}

.name {
    font-size: xxx-large;
}

.changeMe {
    color: #1976d2;
}

.subheading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
}

.subheading > h1 {
    padding-top: 40px;
}

.activeBtn {
background-color: black;
}

.listSub {
padding-right: 60px;
}

#reqSub {
    padding-top: 40px;
}

.toggle-button {
    color: white;
    font-size: 1em;
    margin: 1em 0;
    padding: .7em 4em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;

    &:hover {
        transition: all .3s ease;
        background-color: black
    }
}

/* styles.css */
.large-link {
  font-size: 175%;
}

.top-div {
display: flex;
flex-direction: row;
justify-content: space-between;
text-transform: uppercase;
width: 95%;
margin: 40px 0 40px 40px;
}

.top-div > h1 {
    padding-left: 100px;
}

.bot-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px grey solid;
    width: 80%;
    border-radius: 30px;
    height: 40%;
}

.bot-div > h2 {
    color: grey;
}

.top-div2 {
display: flex;
flex-direction: row;
justify-content: center;
padding-top: 40px;
text-transform: uppercase;
width: 100%;

}

.inner-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inner-right2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 60%;
    justify-content: space-between;
}

.inner-right2 > button {
   padding: 10px 20px;
   font-size: 10px;
   background-color: red;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%; 
}

#file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    text-transform: uppercase;
}

#upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  
}

#upload > input {
    width: 70%;
    padding-top: 50px;
    padding-left: 50px;

    &::file-selector-button {
        background-color: black;
        color: white;
        font-size: .75em;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all .3s ease;
        margin-bottom: 30px;
    }

    &::file-selector-text {

    }
}

#upload > button {
    margin-bottom: 20px;
}


#back-btn {
    position: relative;
    top: 75px;
    background-color: white;
    border-radius: 20%;
    border: 1px solid rgba(25, 118, 210);
    padding: 6px 5px 0 5px ;
    left: 10px;
    transition: all .1s ease;

    &:hover {
        border: 2px solid rgba(25, 118, 210);
    }
}

#back-btn > img {
   width: 30px;
   height: auto;
}

   #back-btn2 {
    align-self: flex-start;
    justify-self: flex-start;
    background-color: white;
    border-radius: 20%;
    border: 1px solid rgba(25, 118, 210);
    padding: 6px 5px 0 5px ;
    transition: all .1s ease;

    &:hover {
        border: 2px solid rgba(25, 118, 210);
    }
   }    

#back-btn2 > img {
   width: 30px;
   height: auto;
}

#bug-form {
    justify-content: space-evenly;
    text-align: center;
    text-transform: uppercase;
}

#training-head {
    padding-left: 170px;
}

#sub-bug {
    background-color: black;
}

#createSub {
    background-color: black;
    color: white;
    font-size: .75em;
    padding: 0.7em 4em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;


    &:hover {
        transition: all .5s ease;

        background-color: white;
        border: 1px solid #1976d2;
        color: #1976d2;
    }
}
.highlighted {
    background-color: black;
}