.personnel-management-container {
    max-width: 800px;
    margin: 0 auto;
    height: 90%;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
  }
  
  .personnel-container {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
  }

  /* .personnel-container:hover {
    scale: 1.1;
  } */
  
  .personnel-container p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 2;
    color: black;
  }
  
  .personnel-container div {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .training-grid {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 20px; 
  }
  
  .training-card {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px; 
    line-height: 1.5; 
  }
  
  
  .training-card p {
    margin: 0;
  }
  
  .delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .add-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .selected-user {
    background-color: #f0f0f0;
  }
  
  /* Styling for loading and error messages */
  .loading,
  .error {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .error {
    color: red;
  }

  .training-card.due {
   
    border-color: #ff6347; /* Red border for due training */
    background-color: #ffe4e1; /* Red background for due training */
    font-weight: 500; /* Additional style to indicate due training */
  }
  
  .training-card.not-due {
    /* Add styles for the training card when it's not due */
    border-color: hsl(120, 82%, 61%); /* Green border for not due training */
    background-color: #f0fff0; /* Green background for not due training */
  }

  .close-button {
    align-self: center;

    background-color: black;
    color: white;
    font-size: .75em;
    padding: 0.7em 4em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: 30px;

    &:hover {
      background-color: red;
      border: white 1px solid;
      color: white
    }
  }


.subheading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-transform: uppercase;
}

.subheading > h1 {
  padding-top: 40px;
  margin-bottom: 40px;
}

.flex-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}