.readiness-table td {
  text-align: center;
  border: 1px solid black;
  padding: 8px;
}

.readiness-table {
  border-collapse: collapse;
  width: 100%;
}

.readiness-container {
  max-height: 1100px;
  overflow-y: auto;
}

.user-chart {
  margin-bottom: 20px;
}

.training-bar {
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  margin-bottom: 5px;
}

.training-bar::before {
  content: '';
  display: block;
  width: var(--interval-width, 0);
  height: 10px;
  background-color: #ffc107;
  transition: width 0.3s ease;
}

.training-bar[style*='interval:']::before {
  --interval-width: calc(100% * (attr(style:match('interval:(\\d+)'), 1) / 100));
}

.overdue {
  background-color: #ff0000;
  color: #fff;
}

.due-soon {
  background-color: #e28102;
  color: #fff;
}

.coming-due {
  background-color: #a7aa00;
  color: #fff;
}

.up-to-date {
  background-color: #018501;
  color: #fff;
}

.not-applicable {
  background-color: #ffffff;
}

.subheading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-transform: uppercase;
}

.subheading > h1 {
  padding-top: 40px;
  margin-bottom: 40px;
}

#download-btn {
  background-color: white;
  margin-left: 20px;
  border: none;
}

#download-btn > img {
  height: auto;
  width: 40px;
}